{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "brace-style": ["error", "stroustrup"],
        "react/prop-types": 0
    }
}